<h1 class="animated zoomIn" style="text-align: center">UV Danger</h1>
  <hr>
<div class="jumbotron container">
  <p class="lead animated fadeInDown">
    <img src="images/principal.jpg" class="animated shadow" width="85%" alt="I'm Yeoman"><br>
    It’s important to know the UV index forecasts to be prepared.
  </p>
  <div><a class="animated btn btn-lg btn-success  btn-block" ng-href="http://sunburnmap.com" target="_blank">Check UV Index forecasts</a></div>
</div>

<div class="row marginPage">
  <section id="advice1" class="visibilityHidden">
  <!--
    =====================
          TABLE 1
    ====================-->
  <div class="col-xs-4">
      <div>
        <table class="table table-bordered table-hover">
            <thead class="tableTitle">
                <tr>
                    <th colspan="2" class="text-center tableTitle">Limit Time in the midday sun</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="contentSize">
                      <br>
                      The sun's UV rays are the strongest between 10am and 4pm.To the extent possible, limit exposure to the sun during these hours.
                    </td>
                    <td class="text-center "><br><img src="images/uv/1.png" width="100%"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
   <!--
    =====================
          TABLE 2
    ====================-->
   <div class="col-xs-4">
      <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2" class="text-center tableTitle">Watch for the UV index</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="contentSize">
                      <br>
                      This important resource helps you plan your outdoors activities in ways that prevent overexposure to the sun's rays. While you should always take precautions against overexposure,
                      take special care to adopt sun safety practices when the UV Index predicts exposure levels of moderate or above.
                    </td>
                    
                    <td class="text-center ">
                     <br> <img src="images/uv/2.png" width="100%"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  <!--
    =====================
          TABLE 3
    ====================-->
   <div class="col-xs-4">
      <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2" class="text-center tableTitle">Use shade wisely</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="contentSize">
                      <br>
                      Seek shade when UV rays are the most intense, but keep in mind that shade structures such as trees,
                      umbrellas or canopies do not offer complete sun protection. Remember the shadow rule: "Whatch tour shadow -short shadow, seek shade!"
                    </td>
                    <td class="text-center "><br><img src="images/uv/shade.jpg" width="100%"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  </section>
  <!--
    =====================
          TABLE 4
    ====================-->
    <section id="advice2" class="visibilityHidden">
   <div class="col-xs-4">
      <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2" class="text-center tableTitle">Wear protecting clothing</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="contentSize">
                      <br>
                      A hat with wide brim offers good sun protection for your eyes, ears, face and the back or your neck.
                      Sunglasses that provide 99 to 100 percent UV-A and UV-B protection will greatly reduce eye damage from sun exposure.
                      Tightly woven, loose fitting clothes will provide additional protection from the sun.
                    </td>
                    <td class="text-center "><img src="images/uv/3.png" width="100%"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  <!--
    =====================
          TABLE 5
    ====================-->
   <div class="col-xs-4">
      <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2" class="text-center tableTitle">Use sunscreen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="contentSize">
                      <br>
                      Apply a broad-spectrum sunscreen of SPF+ liberally and re-apply every two hours, or after working, swimming, playing or exercising outdoors.
                    </td>
                    <td class="text-center "><img src="images/uv/uvsunscreen.png" width="76%"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  <!--
    =====================
          TABLE 6
    ====================-->
   <div class="col-xs-4">
      <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2" class="text-center tableTitle">Avoid sunlamps and tanning parlours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="contentSize">
                      <br>
                      Sunbeds damage the skin and unprotected eyes and are bes avoided entirely.
                    </td>
                    <td class="text-center "><img src="images/uv/6.png" width="93%"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  </section>
 <!--
    =====================
           DEVELOPERS
    ====================-->
  <section id="developers" class="visibilityHidden">
  <h1 style="text-align: center">Developers</h1>
  <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <img class="img-responsive center-block imgfilter animated img2" src="images/users/e.jpg" alt="2">
                        <h2 style="text-align: center">Eduardo Mondragon</h2>
                        <p style="text-align: center">Ing.Software</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img class="img-responsive center-block imgfilter animated img2" src="images/users/r.jpg" alt="3">
                        <h2 style="text-align: center">Ramon Cota</h2>
                        <p style="text-align: center">Contaduría Pública</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
